public-hoist-pattern[]=@vue/runtime-core   # 将依赖提升至根目录
# shamefully-hoist=true //当 shamefully-hoist 设置为 true 时，pnpm 会尝试模仿传统的 npm 和 yarn 行为,将所有依赖项都安装在项目的根 node_modules 文件夹中，而不是将它们分散到各个子文件夹中。这可能会失去 pnpm 的主要优势之一，即节省磁盘空间。此外，它还可能引入新的依赖解析问题，因为所有的包现在都位于同一级别，而不是它们各自的作用域中。
strict-peer-dependencies=false